Cher utilisateur,<br>


Votre nouveau mot de passe sur la plateforme d'authentification est:<br>
Nouveau Mot de passe: <strong>${password}</strong><br>

<br>
<a href="http://progres.mesrs.dz/webauthentification/">Lien d'accès</a>
<br>
http://progres.mesrs.dz/webauthentification/
<br>
En cas de problème de connexion ou de besion du complément d'information veuillez contacter l'établissement d'enseignement supérieur le plus proche de vous.

<br>
